@import "tailwindcss";

#root {
  width: 100%;
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
}

.blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

.bg-st {
  background-color: transparent;
  background-image: url("/st.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-card-bg {
  background-color: transparent;
  background-image: url("/card_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-card-ov {
  background-color: transparent;
  background-image: url("/card_ov.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.small-card {
  @apply absolute rounded-2xl select-none cursor-move w-full h-full flex items-center justify-center;
  transition: transform 0.4s ease-out;
}

.card {
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* 隱藏滾動條 */
}

.no-scrollbar {
  /* 隱藏滾動條（WebKit 瀏覽器，如 Chrome、Safari） */
  -ms-overflow-style: none;
  /* 針對 Internet Explorer 和 Edge */
  scrollbar-width: none;
  /* 針對 Firefox */
}
